@font-face {
  font-family: 'Merienda';
  src: url("./fonts/Merienda-VariableFont_wght.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: "Merienda";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}